<div class="<%= account.isSelf ? 'cell self' : 'cell' %>">
  <% if (account.accountAddressPlain) { %>
    <div class="text-break">
      <%= account.accountAddressPlain %>
    </div>
  <% } %>
  <% if (account.accountPublicKey) { %>
    <div class="ellipsis d-none">
      <%= account.accountPublicKey %>
    </div>
  <% } %>
  <% if (account.cosignatoryPublicKeys && account.cosignatoryPublicKeys.length > 0) { %>
    <div>
      <%= account.minApproval %> of <%= account.cosignatoryPublicKeys.length %> multisig
    </div>
  <% } %>
</div>
