<div class="<%= account.accountPublicKey === selfPublicKey ? 'cell self' : 'cell' %>">
    <div class="text-break" title="address">
        <%= account.accountAddressPlain %>
    </div>
    <div class="ellipsis" title="public key">
        <%= account.accountPublicKey %>
    </div>
  <% if (account.cosignatoryPublicKeys && account.cosignatoryPublicKeys.length > 0) { %>
    <div>
      <%= account.minApproval %> of <%= account.cosignatoryPublicKeys.length %> multisig
    </div>
  <% } %>
</div>
